---
http_interactions:
- request:
    method: put
    uri: https://sandbox.rexpense.com/api/v1/organizations/68/tags/172
    body:
      encoding: UTF-8
      string: '{"name":"Rexpense gem client 02"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"432ca2740ef8b0a840730c058d409d15"
    body:
      encoding: UTF-8
      string: '{"id":172,"name":"Rexpense gem client 02","_links":[{"rel":"self","method":"GET","href":"https://sandbox.rexpense.com/api/v1/organizations/68/tags/172"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.rexpense.com/api/v1/organizations/68/tags/172"},{"rel":"update","method":"PUT","href":"https://sandbox.rexpense.com/api/v1/organizations/68/tags/172"}]}'
      effective_url: https://sandbox.rexpense.com/api/v1/organizations/68/tags/172
  recorded_at: Tue, 05 Sep 2017 14:11:48 GMT
recorded_with: VCR 2.9.3
