---
http_interactions:
- request:
    method: get
    uri: https://sandbox.rexpense.com/api/v1/organizations/68/tags
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Links:
      - 'Link: <https://sandbox.rexpense.com/api/v1/organizations/68/tags?page=1&per_page=30>;
        rel="last"'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fba9e3319c931ffe24e43bfdedd253ce"
    body:
      encoding: UTF-8
      string: '{"current_page":1,"total_pages":1,"count":10,"tags":[{"id":114,"name":"teste1","_links":[{"rel":"self","method":"GET","href":"https://sandbox.rexpense.com/api/v1/organizations/68/tags/114"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.rexpense.com/api/v1/organizations/68/tags/114"},{"rel":"update","method":"PUT","href":"https://sandbox.rexpense.com/api/v1/organizations/68/tags/114"}]},{"id":116,"name":"viagem","_links":[{"rel":"self","method":"GET","href":"https://sandbox.rexpense.com/api/v1/organizations/68/tags/116"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.rexpense.com/api/v1/organiz[...]
