---
http_interactions:
- request:
    method: get
    uri: https://sandbox.rexpense.com/api/v1/expenses/974/attachments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Links:
      - 'Link: <https://sandbox.rexpense.com/api/v1/expenses/974/attachments?page=1&per_page=30>;
        rel="last"'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"70a2846fdb3b904c7486b94b1c24a124"
    body:
      encoding: UTF-8
      string: '{"attachments":[{"id":635,"description":"Img teste ","uploaded_at":"2017-09-21T14:45:11Z","content_type":"image/jpeg","file_name":"RexpenseImage-1506005088713.jpg","url":"https://rexpense-sandbox-uploads.s3.amazonaws.com/attachments/635/original/RexpenseImage-1506005088713.jpg?AWSAccessKeyId=AKIAIHYUZK67P2QEO6WQ\u0026Expires=1506617173\u0026Signature=7i3ccpLLAYKWqRHc2B5NT1VDlmA%3D","local_path":null,"user":{"id":63,"first_name":"Luiz","last_name":"Alegria","mention_name":"lhalegria","default_currency":"BRL","emails":[{"email":"luiz.alegria@nexaas.com","main":true}]},"file":[{"style":"medium","url":"https://rexpense-sandbox-uploads.s3.amazonaws.com/attachments/635/medium/RexpenseImage-1506005088713.jpg?AWSAccessKeyId=AKIAIHYUZK67P2QEO6WQ\u0026Expires=1506617173\u0026Signature=XAJTdWxjGUK2K4kiP1JLSyIK8I4%3D","width":249,"height":300,"expiration":"2017-09-28T16:46:13Z"},{"style":"thumb","url":"https://rexpense-sandbox-uploads.s3.amazonaws.com/attachments/635/thumb/RexpenseImage-1506005088713.jpg?AWSAccessKeyId=AKIAIHYUZK67P2QEO6WQ\u0026Expires=1506617173\u0026Signature=9pS7doRMOhR5SHAW06Re1kHgouY%3D","width":83,"height":100,"expiration":"2017-09-28T16:46:13Z"},{"style":"tiny","url":"https://rexpense-sandbox-uploads.s3.amazonaws.com/attachments/635/tiny/RexpenseImage-1506005088713.jpg?AWSAccessKeyId=AKIAIHYUZK67P2QEO6WQ\u0026Expires=1506617173\u0026Signature=wdmzNjIxk6RNF2heelvfA1v3HIA%3D","width":40,"height":48,"expiration":"2017-09-28T16:46:13Z"}]}],"count":1,"current_page":1,"total_pages":1}'
      effective_url: https://sandbox.rexpense.com/api/v1/expenses/974/attachments
  recorded_at: Thu, 28 Sep 2017 15:51:19 GMT
recorded_with: VCR 2.9.3
