---
http_interactions:
- request:
    method: post
    uri: https://sandbox.rexpense.com/api/v1/organizations/35/members
    body:
      encoding: UTF-8
      string: '{"user":{"email":"dante.miranda@nexaas.com"},"role":"member"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"674e43364f44861033af9ff1a8fc0f3d"
    body:
      encoding: UTF-8
      string: '{"total_recipients":1,"not_added_recipients":[],"added_recipients":["dante.miranda@nexaas.com"],"invalid_recipients":[]}'
      effective_url: https://sandbox.rexpense.com/api/v1/organizations/35/members
  recorded_at: Thu, 28 Sep 2017 15:21:32 GMT
recorded_with: VCR 2.9.3
