---
http_interactions:
- request:
    method: post
    uri: https://sandbox.rexpense.com/api/v1/organizations/35/tags
    body:
      encoding: UTF-8
      string: '{"name":"teste gem 2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"da2c9bd555e8d772ab0c5cc9603331bd"
    body:
      encoding: UTF-8
      string: '{"id":188,"name":"teste gem 2","_links":[{"rel":"self","method":"GET","href":"https://sandbox.rexpense.com/api/v1/organizations/35/tags/188"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.rexpense.com/api/v1/organizations/35/tags/188"},{"rel":"update","method":"PUT","href":"https://sandbox.rexpense.com/api/v1/organizations/35/tags/188"}]}'
      effective_url: https://sandbox.rexpense.com/api/v1/organizations/35/tags
  recorded_at: Wed, 27 Sep 2017 20:13:35 GMT
recorded_with: VCR 2.9.3
