---
http_interactions:
- request:
    method: get
    uri: https://sandbox.rexpense.com/api/v1/organizations/35/distances_rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3dd2d4734242b3217c62da58190ec1f"
    body:
      encoding: UTF-8
      string: '[{"id":3,"amount":6.0,"currency":"BRL","distance_kind":"km","organization_id":35}]'
      effective_url: https://sandbox.rexpense.com/api/v1/organizations/35/distances_rules
  recorded_at: Thu, 28 Sep 2017 15:34:30 GMT
recorded_with: VCR 2.9.3
