---
http_interactions:
- request:
    method: get
    uri: https://sandbox.rexpense.com/api/v1/organizations/35/tags/64
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"83b9b81ddd3f48a2fb191a5da80fae39"
    body:
      encoding: UTF-8
      string: '{"id":64,"name":"tag2","_links":[{"rel":"self","method":"GET","href":"https://sandbox.rexpense.com/api/v1/organizations/35/tags/64"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.rexpense.com/api/v1/organizations/35/tags/64"},{"rel":"update","method":"PUT","href":"https://sandbox.rexpense.com/api/v1/organizations/35/tags/64"}]}'
      effective_url: https://sandbox.rexpense.com/api/v1/organizations/35/tags/64
  recorded_at: Wed, 27 Sep 2017 11:18:41 GMT
recorded_with: VCR 2.9.3
