---
http_interactions:
- request:
    method: get
    uri: https://sandbox.rexpense.com/api/v1/pre_expenses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Links:
      - 'Link: <https://sandbox.rexpense.com/api/v1/pre_expenses?page=2&per_page=30>;
        rel="last", <https://sandbox.rexpense.com/api/v1/pre_expenses?page=2&per_page=30>;
        rel="next"'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a4885bc4f2b3cd2a0990a64b5bdce5bf"
    body:
      encoding: UTF-8
      string: '{"pre_expenses":[{"id":3,"description":"","amount":{"fractional":"900.0","currency":{"id":"brl","alternate_symbols":null,"decimal_mark":",","disambiguate_symbol":null,"html_entity":"R$","iso_code":"BRL","iso_numeric":"986","name":"Brazilian
        Real","priority":100,"smallest_denomination":5,"subunit":"Centavo","subunit_to_unit":100,"symbol":"R$","symbol_first":true,"thousands_separator":"."},"bank":{"store":{"index":{},"options":{},"mutex":{},"in_transaction":false},"rounding_method":null}},"currency":"USD","tags":["uber"],"converted_at":null,"deleted_at":null,"ignored_at":null,"extra_information":{"receipt_detail":{"total_charged":9.0,"duration":"00:11:32","currency_code":"USD","distance":"1.87","distance_label":"miles"}},"occurred_at":"2017-01-14T00:00:00Z","integration":{"id":14,"type":"UberIntegration"}},{"id":4,"description":"","amount":{"fractional":"900.0","currency":{"id":"brl","alternate_symbols":null,"decimal_mark":",","disambiguate_symbol":null,"html_entity":"R$","iso_code":"BRL","iso_numeric":"986","name":"Brazilian
        Real","priority":100,"smallest_denomination":5,"subunit":"Centavo","subunit_to_unit":100,"symbol":"R$","symbol_first":true,"thousands_separator":"."},"bank":{"store":{"index":{},"options":{},"mutex":{},"in_transaction":false},"rounding_method":null[...]
