---
http_interactions:
- request:
    method: post
    uri: https://sandbox.rexpense.com/api/v1/organizations/35/distances_rules
    body:
      encoding: UTF-8
      string: '{"amount":7.0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e0b672065a7570236a82f21c9cc522eb"
    body:
      encoding: UTF-8
      string: '[{"id":3,"amount":7.0,"currency":"BRL","distance_kind":"km","organization_id":35}]'
      effective_url: https://sandbox.rexpense.com/api/v1/organizations/35/distances_rules
  recorded_at: Thu, 28 Sep 2017 15:40:40 GMT
recorded_with: VCR 2.9.3
