---
http_interactions:
- request:
    method: post
    uri: https://sandbox.rexpense.com/api/v1/advancements/4/comments
    body:
      encoding: UTF-8
      string: '{"content":"Loren ipsun dollor"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e7fcde926e83cca19b3cdadaccb9ad73"
    body:
      encoding: UTF-8
      string: '{"id":673,"created_at":"2017-09-28T12:43:58Z","updated_at":"2017-09-28T12:43:58Z","deleted_at":null,"user":{"id":2,"first_name":"Eduardo","last_name":"Hertz
        de Almeida Gomes","mention_name":"EduardoHertz","default_currency":"BRL","emails":[{"email":"eduardo.hertz@mailinator.com","main":false},{"email":"eduardo.hertz@myfreecomm.com.br","main":true}],"avatar":[{"style":"original","url":"https://s3.amazonaws.com/rexpense-sandbox-uploads/user_pictures/1/c3179dcc52a9b92975e216a10d6e1048c5494598/original/1064521_680203731996552_612504712__C3_B3_20_C3_B4.jpg","width":2048,"height":1860,"expiration":"2017-09-28T13:43:59Z"},{"style":"medium","url":"https://s3.amazonaws.com/rexpense-sandbox-uploads/user_pictures/1/d1aeea6235b0761825c83bdd8866a2ef1bfed26e/medium/1064521_680203731996552_612504712__C3_B3_20_C3_B4.jpg","width":300,"height":272,"expiration":"2017-09-28T13:43:59Z"},{"style":"thumb","url":"https://s3.amazonaws.com/rexpense-sandbox-uploads/user_pictures/1/b6aed9f66239571b4f8e2c90c13ad7de45bc88e5/thumb/1064521_680203731996552_612504712__C3_B3_20_C3_B4.jpg","width":100,"height":91,"expiration":"2017-09-28T13:43:59Z"},{"style":"tiny","url":"https://s3.amazonaws.com/rexpense-sandbox-uploads/user_pictures/1/3f2edb830ccea022b7c7cc71bd7d5e7914c4764b/tiny/1064521_680203731996552_612504712__C3_B3_20_C3_B4.jpg","width":48,"height":44,"expiration":"2017-09-28T13:43:59Z"}],"default_avatar":false},"mentioned_users":[],"content":"Loren
        ipsun dollor","content_html":"Loren ipsun dollor","_links":[{"rel":"self","method":"GET","href":"https://sandbox.rexpense.com/api/v1/advancements/4/comments/673"},{"rel":"update","method":"PUT","href":"https://sandbox.rexpense.com/api/v1/advancements/4/comments/673"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.rexpense.com/api/v1/advancements/4/comments/673"}]}'
      effective_url: https://sandbox.rexpense.com/api/v1/advancements/4/comments
  recorded_at: Thu, 28 Sep 2017 12:49:04 GMT
recorded_with: VCR 2.9.3
