---
http_interactions:
- request:
    method: get
    uri: https://sandbox.rexpense.com/api/v1/organizations/35/integrations/webhooks/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a5d7c1b41264e1871472449a2a900aff"
    body:
      encoding: UTF-8
      string: '{"id":2,"url":"http://requestb.in/tinvmlti","description":"","secret":"217a049ae5b4123e87de56c7f75c84be","_links":[{"rel":"self","method":"GET","href":"https://sandbox.rexpense.com/api/v1/organizations/35/integrations/webhooks/2"},{"rel":"update","method":"PUT","href":"https://sandbox.rexpense.com/api/v1/organizations/35/integrations/webhooks/2"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.rexpense.com/api/v1/organizations/35/integrations/webhooks/2"}]}'
      effective_url: https://sandbox.rexpense.com/api/v1/organizations/35/integrations/webhooks/2
  recorded_at: Wed, 27 Sep 2017 20:23:14 GMT
recorded_with: VCR 2.9.3
