---
http_interactions:
- request:
    method: put
    uri: https://sandbox.rexpense.com/api/v1/organizations/35/tags/64
    body:
      encoding: UTF-8
      string: '{"name":"updated tag"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b752b458a4b46e22465b9f2d938c5962"
    body:
      encoding: UTF-8
      string: '{"id":64,"name":"updated tag","_links":[{"rel":"self","method":"GET","href":"https://sandbox.rexpense.com/api/v1/organizations/35/tags/64"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.rexpense.com/api/v1/organizations/35/tags/64"},{"rel":"update","method":"PUT","href":"https://sandbox.rexpense.com/api/v1/organizations/35/tags/64"}]}'
      effective_url: https://sandbox.rexpense.com/api/v1/organizations/35/tags/64
  recorded_at: Wed, 27 Sep 2017 11:27:29 GMT
recorded_with: VCR 2.9.3
