---
http_interactions:
- request:
    method: post
    uri: https://sandbox.rexpense.com/api/v1/organizations/35/tags
    body:
      encoding: UTF-8
      string: '{"name":"teste gem"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1dce7b106705421439f1b95f696e01f5"
    body:
      encoding: UTF-8
      string: '{"id":187,"name":"teste gem","_links":[{"rel":"self","method":"GET","href":"https://sandbox.rexpense.com/api/v1/organizations/35/tags/187"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.rexpense.com/api/v1/organizations/35/tags/187"},{"rel":"update","method":"PUT","href":"https://sandbox.rexpense.com/api/v1/organizations/35/tags/187"}]}'
      effective_url: https://sandbox.rexpense.com/api/v1/organizations/35/tags
  recorded_at: Wed, 27 Sep 2017 11:26:01 GMT
recorded_with: VCR 2.9.3
