---
http_interactions:
- request:
    method: put
    uri: https://sandbox.rexpense.com/api/v1/organizations/35/integrations/webhooks/4
    body:
      encoding: UTF-8
      string: '{"description":"foobar"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OGNkMDQ5YjRhZmNhOTIxM2ZiMjQ1NTUyODM5NGFiMmZiMGJjMzRmNWM5MDVmMzNjOlg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ec3a5dfe968cf375a6de9833d52b534"
    body:
      encoding: UTF-8
      string: '{"id":4,"url":"https://requestb.in/uxd48yux","description":"foobar","secret":null,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.rexpense.com/api/v1/organizations/35/integrations/webhooks/4"},{"rel":"update","method":"PUT","href":"https://sandbox.rexpense.com/api/v1/organizations/35/integrations/webhooks/4"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.rexpense.com/api/v1/organizations/35/integrations/webhooks/4"}]}'
      effective_url: https://sandbox.rexpense.com/api/v1/organizations/35/integrations/webhooks/4
  recorded_at: Wed, 27 Sep 2017 20:32:29 GMT
recorded_with: VCR 2.9.3
